---
import InfoCard from '../components/InfoCard.astro';
import Layout from '../layouts/Layout.astro';
import splitStringByLineEnd from "../utils/splitStringByNewLine"

const text = `Te invito a conocer mi labor y probar este
Sanador Arte de la Buenas Vibras 
para transformar tu casa, tu energía y tu Vida
Pao Fu Feng Shui `

const textArray = splitStringByLineEnd(text)
---

<Layout title="Pao Fu Feng Shui">
    <section>
        <InfoCard title='' textArray={textArray}/>
    </section>
</Layout>

<style>
	section{
        flex: 1;
        background-image: url("/background.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
		justify-content: center;
        flex-direction: column;
        padding: 0 2rem;
		font-size: 25px;
    }
</style>