---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<header>
				<svg 
				width="150" height="150" viewBox="0 0 300.000000 296.000000"
				preserveAspectRatio="xMidYMid meet" >
					<g transform="translate(0.000000,296.000000) scale(0.050000,-0.050000)"
					fill="#f05f5b" stroke="none">
					<path d="M2740 4510 l0 -490 90 0 90 0 0 -80 0 -80 -90 0 -90 0 0 -80 0 -80
					90 0 90 0 0 -80 0 -80 -90 0 -90 0 0 -170 0 -170 -80 0 -80 0 0 171 0 170
					-690 -5 c-560 -5 -690 -1 -690 20 0 180 378 699 668 917 101 76 498 287 540
					287 6 0 12 -202 12 -450 l0 -450 -351 0 c-409 0 -399 -14 -163 215 180 174
					196 178 180 45 l-12 -100 93 0 93 0 0 250 c0 138 -4 250 -10 250 -63 0 -435
					-285 -554 -424 -94 -111 -256 -350 -256 -379 0 -9 256 -17 570 -17 l570 0 0
					638 0 639 -165 -50 c-704 -212 -1285 -825 -1425 -1503 l-14 -66 312 11 312 11
					0 -92 0 -91 -325 5 -325 5 -6 -243 -5 -244 332 0 331 0 -6 -82 -6 -82 -305 3
					c-218 2 -305 -4 -305 -20 0 -124 207 -583 350 -777 283 -384 925 -802 1231
					-802 12 0 18 236 14 630 l-5 631 -565 4 c-343 3 -565 -2 -565 -14 0 -149 651
					-791 801 -791 11 0 19 106 19 240 l0 240 -93 0 -92 0 13 -100 c7 -55 6 -100
					-2 -100 -26 0 -254 210 -313 288 l-55 72 351 0 351 0 0 -449 0 -450 -156 66
					c-439 185 -823 564 -1005 992 -32 76 -59 146 -59 155 0 9 310 13 690 9 l690
					-6 0 171 0 172 80 0 80 0 0 -170 0 -171 85 6 85 5 0 -80 c0 -80 0 -80 -85 -86
					-85 -6 -85 -7 -85 -85 l0 -79 90 0 90 0 0 -80 0 -80 -90 0 -91 0 6 -485 5
					-485 240 0 240 0 5 485 6 485 -91 0 -90 0 0 80 0 80 91 0 91 0 -6 85 -6 84
					-86 -6 -86 -6 6 86 6 87 85 -5 85 -6 0 171 0 170 80 0 80 0 0 -172 0 -171 690
					6 c380 4 690 -1 690 -10 0 -9 -35 -92 -77 -182 -204 -435 -500 -728 -950 -942
					l-183 -87 -5 442 c-3 243 -2 445 2 449 4 5 163 6 354 2 l347 -5 -174 -175
					c-204 -206 -224 -213 -206 -75 l13 100 -90 0 -91 0 0 -240 c0 -283 -9 -277
					209 -131 229 152 611 580 611 685 0 9 -256 16 -570 16 l-570 0 0 -635 c0 -349
					8 -635 17 -635 34 0 315 97 432 149 393 173 780 553 976 956 63 129 175 437
					175 481 0 9 -140 14 -310 10 l-310 -6 0 85 0 85 318 0 c312 0 318 1 329 45 16
					57 17 312 2 387 l-12 58 -318 -6 -319 -7 0 91 0 90 310 -7 c171 -3 310 1 310
					9 0 9 -27 100 -61 203 -212 648 -717 1142 -1374 1343 l-165 51 0 -639 0 -638
					572 0 c500 0 571 4 561 30 -86 223 -661 790 -801 790 -7 0 -12 -112 -12 -250
					l0 -250 92 0 92 0 -14 100 c-19 140 6 131 208 -75 l172 -175 -348 -5 c-191 -4
					-351 -3 -355 2 -4 4 -5 206 -2 450 l5 442 160 -69 c468 -204 940 -707 1039
					-1110 l13 -50 -691 6 -691 5 0 -170 0 -171 -80 0 -80 0 0 170 0 170 -90 0 -90
					0 0 80 0 80 90 0 90 0 0 80 0 80 -90 0 -90 0 0 80 0 80 90 0 90 0 0 490 0 490
					-250 0 -250 0 0 -490z m340 0 l0 -330 -90 0 -90 0 0 330 0 330 90 0 90 0 0
					-330z m-660 -1303 l0 -167 160 0 160 0 0 -80 0 -80 -159 0 -159 0 -6 -161 -6
					-160 -325 -5 -325 -4 0 85 0 85 251 0 250 0 -5 243 -6 244 -245 -5 -245 -5 0
					92 0 91 330 -3 330 -2 0 -168z m655 -242 l-5 -415 -80 0 -80 0 -5 415 -6 415
					91 0 91 0 -6 -415z m1145 320 l0 -88 -245 5 -245 5 -6 -244 -5 -243 250 0 251
					0 0 -92 c0 -76 -6 -90 -32 -80 -17 7 -166 12 -330 12 l-298 0 0 160 0 160
					-158 0 -158 0 -7 80 -8 80 165 0 166 0 0 165 0 165 330 2 330 2 0 -89z m-2129
					-325 l0 -80 -496 0 -495 0 0 80 0 80 495 0 496 0 0 -80z m2789 0 l0 -80 -500
					0 -500 0 0 80 0 80 500 0 500 0 0 -80z m-1800 -1550 l0 -330 -90 0 -90 0 0
					330 0 330 90 0 90 0 0 -330z"/>
					</g>
				</svg>
				<h1>Pao Fu Feng Shui</h1>
				<span>El Arte de las Buenas Vibras</span>
			</header>
			<nav>
				<a href="/">Inicio</a>
				<a href="/madre-tierra">Madre Tierra</a>
				<a href="/feng-shui">Feng Shui</a>
				<a href="/servicios">Servicios</a>
				<a href="/sobre-mi">Sobre Mi</a>
				<a href="/contacto">Contacto</a>
			</nav>
			<slot />
		</main>
	</body>
</html>

<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: 'Overlock', sans-serif;
		background-color: #fff4f3;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body{
		margin: 0;
		min-height: 100vh;
	}
</style>

<style>
	main {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		margin: auto;
		color: black;
		font-size: 20px;
		line-height: 1.6;
	}
	header{
		display: grid;
		grid-template-columns: auto auto;
		justify-content: center;
		align-items: start;
		padding: 1rem 0;
	}
	svg{
		grid-row: span 2;
	}
	h1{
		font-size: 50px;
		margin: 0;
		align-self: flex-end
	}
	span{
		font-size: 25px;
		text-align: center;
	}
	nav{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	nav a {
		flex: 1;
		min-width:	150px;
		text-align: center;
		text-decoration: none;
		color: black;
		border: 1px solid #aaa;
	}
	nav a:hover {
		background-color: #aaa;
	}

</style>

